.item-card {
  border: 1px solid #ddd;
  border-radius: 30px;
  box-shadow: 0 2px 5px rgba(0, 0, 0);
  padding: 16px;
  margin: 12px;
  display: flex;
  flex-direction: row;
  gap: 12px;
  max-width: 395px;
  cursor: pointer;
  background-image: linear-gradient(to right, white, #b6e2d3);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.item-card:hover {
  transform: scale(1.03);
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.4);
  border-color: #76c7b8;
}

.item-card__header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.item-card__title {
  margin: 0;
  font-size: 1.7rem;
  writing-mode: tb;
}

.item-card__content {
  font-size: 0.95rem;
  color: #444;
}

.item-card__actions {
  display: flex;
  justify-content: flex-start;
}

.item-card__lyrics {
  font-size: 2em;
}
