@font-face {
  font-family: Montserrat;
  src: url(../../vendor/fonts/Montserrat-VariableFont_wght.ttf);
}

.app {
  background-image: linear-gradient(to top, #152d2e, #b6e2d3);
}

.app__content {
  max-width: 1360px;
  margin: 0;
  padding: 2em;
}
