.main {
  font-family: "Montserrat", Arial, Helvetica, sans-serif;
}

.main__title {
  display: flex;
  font-weight: 500;
  justify-content: center;
}

.main__subtitle {
  display: flex;
  justify-content: center;
  font-weight: 400;
}

.main__songs-list {
  display: flex;
  flex-wrap: wrap;
}
