.about {
  font-family: "Montserrat", Arial, Helvetica, sans-serif;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px;
  box-sizing: border-box;
}

.about__section {
  background-color: transparent;
  border-radius: 25px;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.about__description {
  display: flex;
  flex-direction: column;
  margin: 56px;
  background-color: white;
  border-radius: 20px;
  padding: 10px;
}

.about__title {
  font-size: 2.7em;
  font-weight: 500;
  margin: auto;
}

.about__paragraph {
  font-size: 1.3em;
  font-weight: 400;
}

.about__image {
  height: 400px;
  min-width: 400px;
  border-radius: 50%;
  padding: 15px;
}
