.modal__content {
  background-color: #152d2e;
}

.modal__close-button {
  position: absolute;
  top: 20px;
  right: 28px;
  cursor: pointer;
  background-color: transparent;
  border: none;
}

.modal__title {
  font-size: 1.5em;
  color: white;
}

.modal__lyrics-subtitle {
  font-size: 0.75em;
  color: white;
}

.modal__lyric-container {
  display: flex;
}

.modal__verse {
  color: white;
}
